*{
    padding: 0;
    margin: 0;
}
#game{
    /* makes black border*/
    width: 800px;
    height: 200px;
    border: 4px solid rgb(255, 169, 216);
    background-image: url(windowsbackground.jpg);
    background-repeat: no-repeat;
    background-size: 800px 200px;
}
#character{
    width: 50px;
    height: 80px;
    /*background-color: red;*/
   /* puts caharacter on bottom 200-80= 120*/
    position: relative;
    top: 120px;
}
div.image {
    content: url(Pippa.png);
}
/*class to add animation jump when called and then removes class*/
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top:120px;}
    30%{top:70px;}
    70%{top:70px;}
    100%{top:120px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 169, 216);
    position: relative;
    top: 100px;
    left: 800px;
    animation: block 2s infinite linear;
}

/*make animation to slide block*/
@keyframes block{
    0%{left:800px;}
    100%{left:-40px;}
}

#upperblock{
    width: 20px;
    height: 120px;
    background-color: rgb(255, 169, 216);
    position: relative;
    top: -100px;
    left: 800px;
    animation: block 2s infinite linear;
    animation-delay: 1s;
}
@keyframes upperblock{
    0%{left:800px;}
    100%{left:-40px;}
}
